.Search{
    display: flex;
}

.Search .bookSearchLeft{
    background: #F1EEE3;
    /* width: 60vw; */
    height: 100%;
    padding: 2rem;
}

.Search .bookSearchRight{
    background: #FDFBF7;
    /* flex: 1; */
    width: calc(100vw - 70vw);
        /* flex-grow:1; */
    /* height: 100vh; */
    padding: 2rem;

}


.search-bar{
    margin: 2rem;
    width: 30rem;
    border: 1.6px solid rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
    padding: 5px 10px;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: rgba(136, 132, 132, 0.6);
    background: #F1EEE3;  
}
  
  .search-bar input[type="text"] {
    width: 100%;
    border: none;
    padding: 5px 10px;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    background: #F1EEE3;
  }

  .search-bar img{
    background-size: cover;
  }

.Search .contantSearch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 1.5rem;
}  

.Search .BookSResultat .imageC{
    width: 186px;
    height: 233px;
    background: rgba(217, 217, 217, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.Search .BookSResultat .title{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #000000;   
    margin-bottom: 2rem; 
}

.bookSearchLeft p{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;  
    margin-bottom: 1rem;  
}

.bookSearchLeft span{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #E46267;    
}


.bookSearchRight .profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 .bookSearchRight  .profile-container img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
  
 .bookSearchRight  .profile-container h3 {
    margin: 1rem;
    font-size: 1rem;
    font-weight: 600;
  }
  
 .bookSearchRight  .notification-icon-container {
    position: relative;
  }
  
 .bookSearchRight  .notification-icon-container img {
    width: 30px;
    height: 30px;
  }
  
  .bookSearchRight .notification-icon-container::after {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
  }

.SearchFilter h1{
    margin-top: 2rem;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 60px;
    color: #000000;
}

.SearchFilter h2{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.6);  
    margin-bottom: 1rem  
}

.line{
    border: 1.3px dashed rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}


.SearchFilter .checkbox-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .SearchFilter .checkbox-container input[type='checkbox'] {
    display: none;
  }
  
  .SearchFilter .checkbox-container input[type='checkbox'] + span:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
  }
  
  .SearchFilter .checkbox-container input[type='checkbox']:checked + span:before {
    background-color: #000000;
    border-color: #ff0000;
  }
  
  .SearchFilter .checkbox-container span {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #333;
  }
  