.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}


.container .left-side{
    width: 60%;
    overflow: hidden;
}
  
  .container .right-side {
    width: 40%;
    overflow: hidden;
    height: 100%;
  }
