.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    /* position: relative; */
}

.container .left-side{
    width: 40vw;
}

.container .right-side{
    /* justify-content: flex-start; */
    align-items: center;
    /* position: absolute; */
    /* right: 0; */
    width: 50vw;
}